html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.custom-window {
  top: 30px;
  max-width: 400px;
  -webkit-transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: top 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
}

.custom-window.open .si-frame {
  overflow: visible;
}

.custom-window.active {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.custom-window .si-content-wrapper {
  padding-bottom: 10px;
}

.custom-window .si-content {
  overflow: visible;
}

.ui.sidebar {
  overflow: visible !important;
}

.ui.modal {
  padding: 5px;
  font-size: 9.4pt;
}

.ui.button.marker {
  width: 300px !important ;
}

.menu.sub {
  overflow: auto !important;
  max-height: 350px !important;
}

::placeholder {
  /* Chrome/Opera/Safari */
  color: #909;
}

#offline-map {
  font-weight: bold !important;
  color: white !important;
}

#destination {
  flex-grow: 1;
  margin-top: 6px;
}

#infocard {
  position: absolute;
  padding: 2px;
  overflow: auto;
  max-height: 600px;
  top: 5%;
  left: 85%;
  z-index: 1;
}

#cardContent {
  bottom: 15px;
}

#topbar {
  height: 50px;
}

#loginbutton {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#signupbutton {
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#map {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
}

#start {
  font-weight: bold !important;
  margin-top: 7px;
}

#login {
  position: relative;
  right: 15px;
  top: 5px;
}

#signup {
  position: relative;
  top: 5px;
}

#header1 {
  position: relative;
  top: 16px;
}

#left-sidebar-toggle {
  padding: 14px;
}