        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */

        html,
        body.pushable>.pusher {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        
        .container{
            display:-webkit-box;
            display:-ms-flexbox;
            display:flex;
            padding:8px;

            height:100%;
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
        }

        .ui.sidebar {
            overflow: visible !important;
        }

        #map {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0px;
            z-index: -1;
        }
	
        #navbar {
            position: relative;
            margin-right: 50px;
        }
		
        #right-panel {
            position: absolute;
            padding-left: 10px;
            height: 570px;
            float: right;
            width: 390px;
            overflow: auto;
            right: 400px;
            top: 200px;
            background-color: white;
        }

        #info {
            position: absolute;
            size: 40px;
            font-size: 30px;
            color: maroon;
            background: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
            top: 0px;
            right: 0px;
        }

        #warning {
            position: absolute;
            display: block;
            visibility: hidden;
            font-size: 22px;
            color: maroon;
            border: 1px solid #ccc;
            box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
            top: 210px;
            right: 23%;
			z-index: 1;
        }

        #login {
            position: relative;
            right: 15px;
            top: 5px;
        }

        #signup {
            position: relative;
            top: 5px;
        }

        #header1{
            position: relative;
            top: 16px;
        }

        #left-sidebar-toggle{
            padding: 14px;
        }
        