<html>
  <head>
    <title> Hello </title>
      <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
        height: 800px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      </style>
  </head>
  <body>
    <a href="/">Home</a>
    <br>
    <a href="/mapdemo">Map Demo</a>
    <br>
    <a href="/test">Testing</a>
    <hr>
    {% block body %}{% endblock %}
  </body>
</html>