<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Displaying text directions with <code>setPanel()</code></title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.6/components/menu.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://maps.googleapis.com/maps/api/js?key={{ key }}"></script>
    <script src="{{ url_for('static', filename='scripts/geolocation-marker.js') }}"></script>
    <style>
        body {
            background: url(static/img/university5.jpg);
            background-size: cover;
            background-size: 100%;
        }
    </style>
</head>

<body>
  <div class="ui attached inverted menu">
    <a class="item" href="/">Home</a>
    <a class="item" href="/map">Map</a>
    <a class="item">Contact</a>
  </div>
  {% block map %} {% endblock %}
</body>