{% extends "base.html" %}

{% block bar %}
    <div class="ui blue inverted attached secondary menu" id="topbar">
        <button class="ui icon button" id="left-sidebar-toggle">
          <i class="blue align justify icon"></i>
        </button>

        <a class="item" id="offline-map">
        <i class="teal map icon"></i>Offline Map/Legend</a>

        <div class="ui blue floating labeled icon dropdown button">
          <i class="map marker alternative icon"></i>
          <span class="text" id="start">Current Location</span>
          <div class="menu">
            <div class="item" id="CurrentLocation">
              Current Location
            </div>
            <div class="item" data-value="{{ getCoords('PA') }}">
              Parking Lot A
            </div>
            <div class="item" data-value="{{ getCoords('PE') }}">
              Parking Lot E
            </div>
            <div class="item" data-value="{{ getCoords('PG') }}">
              Parking Lot G
            </div>
            <div class="item" data-value="{{ getCoords('PS') }}">
              Parking Lot S
            </div>
            <div class="item" data-value="{{ getCoords('DDP') }}">
            Dumbo Down Parking
            </div>
            <div class="item" data-value="{{ getCoords('NPS') }}">
              Nutwood Parking Structure
            </div>
            <div class="item" data-value="{{ getCoords('EPS') }}">
              Eastside Parking Structure
            </div>
            <div class="item" data-value="{{ getCoords('SCPS') }}">
              State College Parking Structure
            </div>
          </div>
        </div>

        <div class="ui action input" id="destination">
            <form id="geolocation" action="" method="POST">
                <input type="hidden" id="location" name="location" value="">
                <input type="hidden" id="userLocation" name="userLocation" value="">
                <input type="text" id="dest" name="dest" style="width: 500px" placeholder="Enter Class e.g cs101">
                 <button class="ui blue compact icon button" type="Submit" id="submit">
                    <i class="search icon"></i>
                </button>
                <!-- <button class="ui blue compact icon button" type="Submit" id="Draw">
                   Drawing Manager
               </button> -->
        </div>
    </div>

<div id="sidemenu">
    <div class="ui left vertical menu sidebar" id="left-sidebar">

    <h2 class="ui center aligned header" id="header1">
      <img src="{{ url_for('static', filename='img/asktuffy2.png') }}" class="ui circular image">
      <a href=/map>CSUF</a>
    </h2>
    <h3 class="ui orange center aligned header">
      California State University, Fullerton
    </h3>
    <div class="ui fitted divider"></div>
  	<div class="ui simple dropdown item">
      <i class="teal book icon"></i>
          <div class="ui checkbox ebuildings">
              <input type="checkbox" name="example">
              <label> Education Buildings </label>
          </div>
      <div class="menu" style="overflow:auto;max-height:289px;">
          <div class="header">Education Building list in CSUF</div>

          <div class="ui buttons" id="CC">
              <button class="ui button ebuildings marker" id="CC-btn" value="{{ getCoords('CC') }}" type="button"><i class="teal book icon"></i>Children's Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="CC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CS">
              <button class="ui button ebuildings marker" id="CS-btn" value="{{ getCoords('CS') }}" type="button"><i class="teal book icon"></i>Computer Science</button>
              <div class="or"></div>
              <button class="ui positive button" id="CS-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CPAC">
              <button class="ui button ebuildings marker" id="CPAC-btn" value="{{ getCoords('CPAC') }}" type="button"><i class="teal book icon"></i>Clayes Performing Arts Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="CPAC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="DBH">
              <button class="ui button ebuildings marker" id="DBH-btn" value="{{ getCoords('DBH') }}" type="button"><i class="teal book icon"></i>Dan Black Hall </button>
              <div class="or"></div>
              <button class="ui positive button" id="DBH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="EC">
              <button class="ui button ebuildings marker" id="EC-btn" value="{{ getCoords('EC') }}" type="button"><i class="teal book icon"></i>Education Classroom </button>
              <div class="or"></div>
              <button class="ui positive button" id="EC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="E">
              <button class="ui button ebuildings marker" id="E-btn" value="{{ getCoords('E') }}" type="button"><i class="teal book icon"></i>Engineering </button>
              <div class="or"></div>
              <button class="ui positive button" id="E-direction">Direction</button>
          </div>

          <div class="ui buttons" id="H">
              <button class="ui button ebuildings marker" id="H-btn" value="{{ getCoords('H') }}" type="button"><i class="teal book icon"></i>Humanities & Social Science</button>
              <div class="or"></div>
              <button class="ui positive button" id="H-direction">Direction</button>
          </div>

          <div class="ui buttons" id="KHS">
              <button class="ui button ebuildings marker" id="KHS-btn" value="{{ getCoords('KHS') }}" type="button"><i class="teal book icon"></i>Kinesiology & Health Science</button>
              <div class="or"></div>
              <button class="ui positive button" id="KHS-direction">Direction</button>
          </div>

          <div class="ui buttons" id="LH">
              <button class="ui button ebuildings marker" id="LH-btn" value="{{ getCoords('LH') }}" type="button"><i class="teal book icon"></i>Langsdorf Hall </button>
              <div class="or"></div>
              <button class="ui positive button" id="LH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="MH">
              <button class="ui button ebuildings marker" id="MH-btn" value="{{ getCoords('MH') }}" type="button"><i class="teal book icon"></i>Mc Carthy Hall </button>
              <div class="or"></div>
              <button class="ui positive button" id="MH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="PL">
              <button class="ui button ebuildings marker" id="PL-btn" value="{{ getCoords('PL') }}" type="button"><i class="teal book icon"></i>Pollack Library </button>
              <div class="or"></div>
              <button class="ui positive button" id="PL-direction">Direction</button>
          </div>

          <div class="ui buttons" id="PLS">
              <button class="ui button ebuildings marker" id="PLS-btn" value="{{ getCoords('PLS') }}" type="button"><i class="teal book icon"></i>Pollack Library South </button>
              <div class="or"></div>
              <button class="ui positive button" id="PLS-direction">Direction</button>
          </div>

          <div class="ui buttons" id="RGC">
              <button class="ui button ebuildings marker" id="RGC-btn" value="{{ getCoords('RGC') }}" type="button"><i class="teal book icon"></i>Ruby Gerontology Center </button>
              <div class="or"></div>
              <button class="ui positive button" id="RGC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="SGMH">
              <button class="ui button ebuildings marker" id="SGMH-btn" value="{{ getCoords('SGMH') }}" type="button"><i class="teal book icon"></i>Steven G. Mihalyo</button>
              <div class="or"></div>
              <button class="ui positive button" id="SGMH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="UH">
              <button class="ui button ebuildings marker" id="UH-btn" value="{{ getCoords('UH') }}" type="button"><i class="teal book icon"></i>University Hall </button>
              <div class="or"></div>
              <button class="ui positive button" id="UH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="VA">
              <button class="ui button ebuildings marker" id="VA-btn" value="{{ getCoords('VA') }}" type="button"><i class="teal book icon"></i>Visual Arts </button>
              <div class="or"></div>
              <button class="ui positive button" id="VA-direction">Direction</button>
          </div>

      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal users icon"></i>
      <div class="ui checkbox fdbuildings">
              <input type="checkbox" name="example">
              <label> Food & Dining </label>
          </div>
      <div class="menu"  style="overflow:auto;max-height:215px;">
          <div class="header">Places to eat in CSUF</div>

          <div class="ui buttons" id="BE">
              <button class="ui button fdbuildings marker" id="BE-btn" value="{{ getCoords('BE') }}" type="button"><i class="teal users icon"></i>Baja Fresh(TSU)</button>
              <div class="or"></div>
              <button class="ui positive button" id="BE-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CJ">
              <button class="ui button fdbuildings marker" id="CJ-btn" value="{{ getCoords('CJ') }}" type="button"><i class="teal users icon"></i>Carl's Jr</button>
              <div class="or"></div>
              <button class="ui positive button" id="CJ-direction">Direction</button>
          </div>

          <div class="ui buttons" id="GA">
              <button class="ui button fdbuildings marker" id="GA-btn" value="{{ getCoords('GA') }}" type="button"><i class="teal users icon"></i>Gastronome</button>
              <div class="or"></div>
              <button class="ui positive button" id="GA-direction">Direction</button>
          </div>

          <div class="ui buttons" id="JU">
              <button class="ui button fdbuildings marker" id="JU-btn" value="{{ getCoords('JU') }}" type="button"><i class="teal users icon"></i>Juice it Up(TSU)</button>
              <div class="or"></div>
              <button class="ui positive button" id="JU-direction">Direction</button>
          </div>

          <div class="ui buttons" id="PEX">
              <button class="ui button fdbuildings marker" id="PEX-btn" value="{{ getCoords('PEX') }}" type="button"><i class="teal users icon"></i>Panda Express(TSU)</button>
              <div class="or"></div>
              <button class="ui positive button" id="PEX-direction">Direction</button>
          </div>

          <div class="ui buttons" id="MST">
              <button class="ui button fdbuildings marker" id="MST-btn" value="{{ getCoords('MST') }}" type="button"><i class="teal coffee icon"></i>Starbucks(Mihalyo)</button>
              <div class="or"></div>
              <button class="ui positive button" id="MST-direction">Direction</button>
          </div>

          <div class="ui buttons" id="PLST">
              <button class="ui button fdbuildings marker" id="PLST-btn" value="{{ getCoords('PLST') }}" type="button"><i class="teal coffee icon"></i>Starbucks(PL)</button>
              <div class="or"></div>
              <button class="ui positive button" id="PLST-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TSUST">
              <button class="ui button fdbuildings marker" id="TSUST-btn" value="{{ getCoords('TSUST') }}" type="button"><i class="teal coffee icon"></i>Starbucks(TSU)</button>
              <div class="or"></div>
              <button class="ui positive button" id="TSUST-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CPT">
              <button class="ui button fdbuildings marker" id="CPT-btn" value="{{ getCoords('CPT') }}" type="button"><i class="teal users icon"></i>Togo Sandwich(College Park)</button>
              <div class="or"></div>
              <button class="ui positive button" id="CPT-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TSUT">
              <button class="ui button fdbuildings marker" id="TSUT-btn" value="{{ getCoords('TSUT') }}" type="button"><i class="teal users icon"></i>Togo Sandwich(TSU)</button>
              <div class="or"></div>
              <button class="ui positive button" id="TSUT-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal credit card icon"></i>
      <div class="ui checkbox bbuildings">
              <input type="checkbox" name="example">
              <label> ATM & Bank </label>
          </div>
      <div class="menu">
          <div class="header">ATM located in CSUF</div>

          <div class="ui buttons" id="BOFA">
              <button class="ui button bbuildings marker" id="BOFA-btn" value="{{ getCoords('BOFA') }}" type="button"><i class="teal credit card icon"></i>BoFA Bank ATM</button>
              <div class="or"></div>
              <button class="ui positive button" id="BOFA-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CATM">
              <button class="ui button bbuildings marker" id="CATM-btn" value="{{ getCoords('CATM') }}" type="button"><i class="teal credit card icon"></i>Chase Bank ATM</button>
              <div class="or"></div>
              <button class="ui positive button" id="CATM-direction">Direction</button>
          </div>

          <div class="ui buttons" id="WATM">
              <button class="ui button bbuildings marker" id="WATM-btn" value="{{ getCoords('WATM') }}" type="button"><i class="teal credit card icon"></i>Wells Fargo Bank ATM</button>
              <div class="or"></div>
              <button class="ui positive button" id="WATM-direction">Direction</button>
          </div>

          <div class="ui buttons" id="USB">
              <button class="ui button bbuildings marker" id="USB-btn" value="{{ getCoords('USB') }}" type="button"><i class="teal credit card icon"></i>US Bank Branch(Titan Shop)</button>
              <div class="or"></div>
              <button class="ui positive button" id="USB-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal magnet icon"></i>
      <div class="ui checkbox lm">
              <input type="checkbox" name="example">
              <label> Landmarks </label>
          </div>
      <div class="menu">
          <div class="header">Important Landmarks for Events</div>

          <div class="ui buttons" id="BA">
              <button class="ui button lm marker" id="BA-btn" value="{{ getCoords('BA') }}" type="button"><i class="teal magnet icon"></i>Becker Amphitheater</button>
              <div class="or"></div>
              <button class="ui positive button" id="BA-direction">Direction</button>
          </div>

          <div class="ui buttons" id="ECSQ">
              <button class="ui button lm marker" id="ECSQ-btn" value="{{ getCoords('ECSQ') }}" type="button"><i class="teal magnet icon"></i>ECS QUAD</button>
              <div class="or"></div>
              <button class="ui positive button" id="ECSQ-direction">Direction</button>
          </div>

          <div class="ui buttons" id="Q">
              <button class="ui button lm marker" id="Q-btn" value="{{ getCoords('Q') }}" type="button"><i class="teal magnet icon"></i>QUAD</button>
              <div class="or"></div>
              <button class="ui positive button" id="Q-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TW">
              <button class="ui button lm marker" id="TW-btn" value="{{ getCoords('TW') }}" type="button"><i class="teal magnet icon"></i>Titan Walk</button>
              <div class="or"></div>
              <button class="ui positive button" id="TW-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal recycle icon"></i>
      <div class="ui checkbox fbuildings">
              <input type="checkbox" name="example">
              <label> Facilities </label>
          </div>
      <div class="menu">
          <div class="header">Facilities provided by CSUF</div>

          <div class="ui buttons" id="EHS">
              <button class="ui button fbuildings marker" id="EHS-btn" value="{{ getCoords('EHS') }}" type="button"><i class="teal recycle icon"></i>Environment Health & Safety</button>
              <div class="or"></div>
              <button class="ui positive button" id="EHS-direction">Direction</button>
          </div>

          <div class="ui buttons" id="P">
              <button class="ui button fbuildings marker" id="P-btn" value="{{ getCoords('P') }}" type="button"><i class="teal recycle icon"></i>Parking & Transportation Office</button>
              <div class="or"></div>
              <button class="ui positive button" id="P-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TRI">
              <button class="ui button fbuildings marker" id="TRI-btn" value="{{ getCoords('TRI') }}" type="button"><i class="teal recycle icon"></i>Trigen</button>
              <div class="or"></div>
              <button class="ui positive button" id="TRI-direction">Direction</button>
          </div>
      </div>
  </div>

      <div class="ui simple dropdown item">
          <i class="teal car icon"></i>
          <div class="ui checkbox pbuildings">
              <input type="checkbox" name="example">
              <label> Parking Structures   </label>
          </div>
          <div class="menu" style="overflow:auto;max-height:289px;">
              <div class="header">Parking including students and faculties in CSUF</div>

              <div class="ui buttons" id="PA">
                  <button class="ui button pbuildings marker" id="PA-btn" value="{{ getCoords('PA') }}" type="button"><i class="teal car icon"></i>Parking Lot A</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PA-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PAS">
                  <button class="ui button pbuildings marker" id="PAS-btn" value="{{ getCoords('PAS') }}" type="button"><i class="teal car icon"></i>Parking Lot A - South</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PAS-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PC">
                  <button class="ui button pbuildings marker" id="PC-btn" value="{{ getCoords('PC') }}" type="button"><i class="teal car icon"></i>Parking Lot C</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PC-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PCE">
                  <button class="ui button pbuildings marker" id="PCE-btn" value="{{ getCoords('PCE') }}" type="button"><i class="teal car icon"></i>Parking Lot C - East</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PCE-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PCW">
                  <button class="ui button pbuildings marker" id="PCW-btn" value="{{ getCoords('PCW') }}" type="button"><i class="teal car icon"></i>Parking Lot C - West</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PCW-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PE">
                  <button class="ui button pbuildings marker" id="PE-btn" value="{{ getCoords('PE') }}" type="button"><i class="teal car icon"></i>Parking Lot E</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PE-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PF">
                  <button class="ui button pbuildings marker" id="PF-btn" value="{{ getCoords('PF') }}" type="button"><i class="teal car icon"></i>Parking Lot F</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PF-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PG">
                  <button class="ui button pbuildings marker" id="PG-btn" value="{{ getCoords('PG') }}" type="button"><i class="teal car icon"></i>Parking Lot G</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PG-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PH">
                  <button class="ui button pbuildings marker" id="PH-btn" value="{{ getCoords('PH') }}" type="button"><i class="teal car icon"></i>Parking Lot H</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PH-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PI">
                  <button class="ui button pbuildings marker" id="PI-btn" value="{{ getCoords('PI') }}" type="button"><i class="teal car icon"></i>Parking Lot I</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PI-direction">Direction</button>
              </div>

              <div class="ui buttons" id="PS">
                  <button class="ui button pbuildings marker" id="PS-btn" value="{{ getCoords('PS') }}" type="button"><i class="teal car icon"></i>Parking Lot S</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="PS-direction">Direction</button>
              </div>

              <div class="ui buttons" id="AP">
                  <button class="ui button pbuildings marker" id="AP-btn" value="{{ getCoords('AP') }}" type="button"><i class="teal car icon"></i>Arboritum Parking</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="AP-direction">Direction</button>
              </div>

              <div class="ui buttons" id="CPFSP">
                  <button class="ui button pbuildings marker" id="CPFSP-btn" value="{{ getCoords('CPFSP') }}" type="button"><i class="teal car icon"></i>CPFS Parking</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="CPFSP-direction">Direction</button>
              </div>

              <div class="ui buttons" id="DDP">
                  <button class="ui button pbuildings marker" id="DDP-btn" value="{{ getCoords('DDP') }}" type="button"><i class="teal car icon"></i>Dumbo Down Parking</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="DDP-direction">Direction</button>
              </div>

              <div class="ui buttons" id="EPS">
                  <button class="ui button pbuildings marker" id="EPS-btn" value="{{ getCoords('EPS') }}" type="button"><i class="teal car icon"></i>East Side Structure Parking</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="EPS-direction">Direction</button>
              </div>

              <div class="ui buttons" id="NPS">
                  <button class="ui button pbuildings marker" id="NPS-btn" value="{{ getCoords('NPS') }}" type="button"><i class="teal car icon"></i>Nutwood Structure Parking</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="NPS-direction">Direction</button>
              </div>

              <div class="ui buttons" id="SCPS">
                  <button class="ui button pbuildings marker" id="SCPS-btn" value="{{ getCoords('SCPS') }}" type="button"><i class="teal car icon"></i>State College Structure Parking</button>
                  <div class="or"></div>
                  <button class="ui positive button" id="SCPS-direction">Direction</button>
              </div>
          </div>
      </div>

  <div class="ui simple dropdown item">
      <i class="teal search icon"></i>
      <div class="ui checkbox cy">
              <input type="checkbox" name="example">
              <label> Corporation Yard </label>
          </div>
      <div class="menu">
          <div class="header"><a href="#">Corporation Yard</a></div>

          <div class="ui buttons" id="AS">
              <button class="ui button cy marker" id="AS-btn" value="{{ getCoords('AS') }}" type="button"><i class="teal search icon"></i>Automobile Shop</button>
              <div class="or"></div>
              <button class="ui positive button" id="AS-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CSH">
              <button class="ui button cy marker" id="CSH-btn" value="{{ getCoords('CSH') }}" type="button"><i class="teal search icon"></i>Carpenter Shop</button>
              <div class="or"></div>
              <button class="ui positive button" id="CSH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="MC">
              <button class="ui button cy marker" id="MC-btn" value="{{ getCoords('MC') }}" type="button"><i class="teal search icon"></i>Mailing Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="MC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="SR">
              <button class="ui button cy marker" id="SR-btn" value="{{ getCoords('SR') }}" type="button"><i class="teal search icon"></i>Shipping & Recieving</button>
              <div class="or"></div>
              <button class="ui positive button" id="SR-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal laptop icon"></i>
      <div class="ui checkbox abuildings">
              <input type="checkbox" name="example">
              <label> Administrative Building </label>
          </div>
      <div class="menu">
          <div class="header">Located outside of CSUF campus</div>

          <div class="ui buttons" id="CP">
              <button class="ui button abuildings marker" id="CP-btn" value="{{ getCoords('CP') }}" type="button"><i class="teal laptop icon"></i>College Park</button>
              <div class="or"></div>
              <button class="ui positive button" id="CP-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CPW">
              <button class="ui button abuildings marker" id="CPW-btn" value="{{ getCoords('CPW') }}" type="button"><i class="teal laptop icon"></i>College Park - West</button>
              <div class="or"></div>
              <button class="ui positive button" id="CPW-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal thumbs up icon"></i>
      <div class="ui checkbox ssbuildings">
              <input type="checkbox" name="example">
              <label> Student Services </label>
          </div>
      <div class="menu">
          <div class="header">Student services in CSUF</div>

          <div class="ui buttons" id="ARSC">
              <button class="ui button ssbuildings marker" id="ARSC-btn" value="{{ getCoords('ARSC') }}" type="button"><i class="teal thumbs up icon"></i>Admission and Records Service Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="ARSC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="CRC">
              <button class="ui button ssbuildings marker" id="CRC-btn" value="{{ getCoords('CRC') }}" type="button"><i class="teal thumbs up icon"></i>Career Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="CRC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="RH">
              <button class="ui button ssbuildings marker" id="RH-btn" value="{{ getCoords('RH') }}" type="button"><i class="teal thumbs up icon"></i>Resident Hall</button>
              <div class="or"></div>
              <button class="ui positive button" id="RH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="SH">
              <button class="ui button ssbuildings marker" id="SH-btn" value="{{ getCoords('SH') }}" type="button"><i class="teal thumbs up icon"></i>Student Housing</button>
              <div class="or"></div>
              <button class="ui positive button" id="SH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="SRC">
              <button class="ui button ssbuildings marker" id="SRC-btn" value="{{ getCoords('SRC') }}" type="button"><i class="teal thumbs up icon"></i>Student Recreation Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="SRC-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <!-- <i class="download icon"></i>  -->
      <div class="ui checkbox tbuildings">
              <input type="checkbox" name="example">
              <label> Titan Pride </label>
          </div>
      <div class="ui teal left pointing label">pride</div>
      <div class="menu">
          <div class="header">Pride of Titans</div>

          <div class="ui buttons" id="G">
              <button class="ui button tbuildings marker" id="G-btn" value="{{ getCoords('G') }}" type="button"><i class="teal spinner icon"></i>Golleher Alumini House</button>
              <div class="or"></div>
              <button class="ui positive button" id="G-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TG">
              <button class="ui button tbuildings marker" id="TG-btn" value="{{ getCoords('TG') }}" type="button"><i class="teal spinner icon"></i>Titan Gymnasium </button>
              <div class="or"></div>
              <button class="ui positive button" id="TG-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TH">
              <button class="ui button tbuildings marker" id="TH-btn" value="{{ getCoords('TH') }}" type="button"><i class="teal spinner icon"></i>Titan House</button>
              <div class="or"></div>
              <button class="ui positive button" id="TH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TROTC">
              <button class="ui button tbuildings marker" id="TROTC-btn" value="{{ getCoords('TROTC') }}" type="button"><i class="teal spinner icon"></i>Titan ROTC</button>
              <div class="or"></div>
              <button class="ui positive button" id="TROTC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TSH">
              <button class="ui button tbuildings marker" id="TSH-btn" value="{{ getCoords('TSH') }}" type="button"><i class="teal spinner icon"></i>Titan Shop</button>
              <div class="or"></div>
              <button class="ui positive button" id="TSH-direction">Direction</button>
          </div>

          <div class="ui buttons" id="TSU">
              <button class="ui button tbuildings marker" id="TSU-btn" value="{{ getCoords('TSU') }}" type="button"><i class="teal spinner icon"></i>Titan Student Union(TSU)</button>
              <div class="or"></div>
              <button class="ui positive button" id="TSU-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal spinner icon"></i>
      <div class="ui checkbox sbuildings">
              <input type="checkbox" name="example">
              <label> Titan Sports Complex </label>
          </div>
      <div class="menu">
          <div class="header">Athelatics Stadiums</div>

          <div class="ui buttons" id="TS">
              <button class="ui button sbuildings marker" id="TS-btn" value="{{ getCoords('TS') }}" type="button"><i class="teal spinner icon"></i>Titan Stadium</button>
              <div class="or"></div>
              <button class="ui positive button" id="TS-direction">Direction</button>
          </div>

          <div class="ui buttons" id="GF">
              <button class="ui button sbuildings marker" id="GF-btn" value="{{ getCoords('GF') }}" type="button"><i class="teal spinner icon"></i>Goodwin Field</button>
              <div class="or"></div>
              <button class="ui positive button" id="GF-direction">Direction</button>
          </div>

          <div class="ui buttons" id="AF">
              <button class="ui button sbuildings marker" id="AF-btn" value="{{ getCoords('AF') }}" type="button"><i class="teal spinner icon"></i>Anderson Field</button>
              <div class="or"></div>
              <button class="ui positive button" id="AF-direction">Direction</button>
          </div>
      </div>
  </div>

  <div class="ui simple dropdown item">
      <i class="teal plus icon"></i>
      <div class="ui checkbox embuildings">
              <input type="checkbox" name="example">
              <label> Emergency </label>
          </div>
      <div class="menu">
          <div class="header">CSUF Emergency buildings</div>

          <div class="ui buttons" id="SHCC">
              <button class="ui button embuildings marker" id="SHCC-btn" value="{{ getCoords('SHCC') }}" type="button"><i class="teal user doctor icon"></i>Student Health & Counseling Center</button>
              <div class="or"></div>
              <button class="ui positive button" id="SHCC-direction">Direction</button>
          </div>

          <div class="ui buttons" id="UP">
              <button class="ui button embuildings marker" id="UP-btn" value="{{ getCoords('UP') }}" type="button"><i class="teal plus icon"></i>University Police</button>
              <div class="or"></div>
              <button class="ui positive button" id="UP-direction">Direction</button>
          </div>
      </div>

  </div>
</form>
  <div id="legendmodal" class="ui modal">
      <h4 class="ui horizontal divider header">
        <i class="teal bar chart icon"></i>Abbreviation - Building Name [<--Legend-->]
      </h4>

        <div class="ui four column grid">
          <div class="column">
              <p>
                <p><i class="teal book icon"></i><strong>Education Buildings</strong><br></p><p>CC - Children's Center</p> <p>CS - Computer Science</p> <p>CPAC - Clayes Performing Arts Center</p> <p> DBH - Dan Black Hall</p> <p> EC - Education Classroom</p> <p> E - Engineering</p> <p> H - Humanities & Social Science </p> <p> KHS - Kinesiology & Health Science</p> <p> LH - Langsdorf Hall</p> <p> MH - McCarthy Hall</p>
                <p> PL - Pollak library</p> <p> PLS - Pollak Library South</p> <p> RGC - Ruby Gerontology Center</p> <p> SGMH - Steven G. Mihalyo</p> <p> UH - University Hall</p> <p> VA - Visual Arts</p>
             </p>
          </div>
          <div class="ui vertical divider"></div>
           <div class="column">
             <p>
              <p><i class="teal users icon"></i><strong>Food & Dining</strong><br></p><p>BE - Baja Fresh</p> <p> CJ - Carl's Jr</p> <p> GA - Gastronome</p> <p> JU - Juice It Up</p> <p> PEX - Panda Express</p> <p>MST - Mihaylo Starbucks </p> <p>PLST - Pollak Library Starbucks</p> <p> TSUST - TSU Starbucks</p> <p>CPT - College Park Togos</p> <p> TSUT - TSU Togos</p>
             <div class="ui fitted divider"></div>
             <div class="ui fitted divider"></div>
             <p><i class="teal credit card icon"></i><strong>ATM & Bank</strong><br></p><p>BOFA - BOFA Bank ATM</p><p>CATM - Chase ATM</p><p>WATM - Wells Fargo ATM</p><p>USB - US Bank Branch</p>
           </p>
           </div>
           <div class="column">
             <p>
               <p><i class="teal magnet icon"></i><strong>Landmarks</strong><br></p><p>BA - Becker Amphitheater</p> <p> ECSQ - ECS Quad</p> <p> Q - Quad</p> <p> TW - Titan Walk</p>
               <div class="ui fitted divider"></div>
               <div class="ui fitted divider"></div>
               <p><i class="teal recycle icon"></i><strong>Facilities</strong><br></p><p>EHS - Environment Health & Safety</p> <p> TRI - Trigen</p> <p> P - Parking and Transportation Office</p>
               <div class="ui fitted divider"></div>
               <div class="ui fitted divider"></div>
               <p><i class="teal search icon"></i><strong>Corporation Yard</strong><br></p><p>AS - Automobile Shop </p><p> CSH - Carpenter Shop</p><p> MC - Mailing Center</p><p>SR - Shipping & Recieving</p>
              <div class="ui fitted divider"></div>
              <div class="ui fitted divider"></div>
              <p><i class="teal laptop icon"></i><strong>Administrative Building</strong><br></p><p>CP - College Park</p><p>CPW - College Park West</p>
             </p>
          </div>
          <div class="column">
            <p>
              <p><i class="teal car icon"></i><strong>Parking Structures</strong><br></p><p> PA - Parking Lot A</p><p> PAS - Parking Lot A-South</p><p> PC - Parking Lot C</p><p> PCE - Parking Lot C-East</p><p> PCW - Parking Lot C-West</p><p> PE - Parking Lot E</p><p> PF - Parking Lot F</p><p> PG - Parking Lot G</p><p>PH - Parking Lot H</p><p> PI - Parking Lot I</p><p> PR - Parking Lot R</p><p> PS - Parking Lot S</p>
              <p> AP - Arboritum Parking</p> <p>CPFSP - CPFS Parking</p><p> DDP - Dumbo Down Parking</p><p> EPS - Eastside Parking Structure</p><p>NPS - Nutwood Parking Structure</p><p> SCPS - Stage College Parking
          </p>
         </div>
        </div>

        <div class="ui fitted divider"></div>
        <div class="ui fitted divider"></div>

        <div class="ui four column grid">
           <div class="column">
             <p>
               <p><i class="teal thumbs up icon"></i><strong>Student Services</strong><br></p><p>ARSC - Admission and Records Service Center</p><p> CRC - Career Center</p><p> RH - Resident Hall</p><p> SH - Student Housing</p><p> SRC - Student Recreation Center</p>
           </p>
           </div>
            <div class="column">
              <p>
                <p><i class="teal spinner icon"></i><strong>Titan Pride</strong><br></p><p>G - Golleher Alumni House</p><p> TG - Titan Gymnasium</p><p>  TH - Titan House</p><p> TROTC - Titan ROTC</p><p> TSH - Titan Shop</p><p>TSU - Titan Student Union</p>
              </p>
            </div>
            <div class="column">
              <p>
                <p><i class="teal spinner icon"></i><strong>Titan Sports Complex</strong><br></p><p>TST - Titan Stadium</p><p> GF - Goodwin Field</p><p>AF - Anderson Field</p>
              </p>
            </div>
            <div class="column">
              <p>
                <p><i class="teal plus icon"></i><strong>Emergency</strong><br></p><p>SHCC - Student Health & Counseling Center</p><p>UP - University Police</p>
              </p>
            </div>
       	</div>
  	</div>
  </div>
{% endblock %}

{% block content %}

{% block display %}{% endblock %}
    <div id="map"></div>
{% endblock %}

{% block mapscript %}
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/polygons.js') }}"></script>
	<script>
    var latlong;
    var map;
    var GeoMarker;
    var directionsDisplay;
    var directionsService;
    var markers = []
    var contentString;
    var markerButtons = document.getElementsByClassName('ui button marker');
    var dirButtons = document.getElementsByClassName('ui button positive');
    var originalColor;
    var flag;

    const csufLocation = {
            lat: 33.880300,
            lng: -117.885076
    };

    var EducationBuilding = [PLSCoords, PLCoords, RGCCoords, UHCoords, LHCoords, MHCoords, DBHCoords, ECCoords, ECoords, HCoords];
    var parkingStructures = [EastSideP, lotE, NutwoodP, lotR, DDownnsP, lotA, lotG, ArboP, lotI, lotF, CPFSParkingLot, lotS, lotCEast, lotCWest, lotC];

    initMap();
    {% block saveLocation %}{% endblock %}

    if (navigator.geolocation) { // Call geolocation to get user's current position
        navigator.geolocation.getCurrentPosition(getCurrPos, errorCallback, {
            enableHighAccuracy: true
        });
    }

    function getCurrPos(position) {
        curLoc = position.coords.latitude + "," + position.coords.longitude;
        document.getElementById('location').value = curLoc;
        document.getElementById('userLocation').value = curLoc;
    }

    function errorCallback() {}

    function fillContent(bldid, bldname, desc, link, image) {
    	return 	'<div id="bodyContent">'+ image +
                '<p><b>'+ bldname + '</b>: '+ desc + '</p>' +
                '<p><a href="' + link + '">Link to '+ bldname +'</a></p>' +
                '</div>'+
                '</div>';
    }

    function pickImage(bld, h, w){
			var image = '<img src="static/img/' + bld + '.jpg" height="' + h + '" width="' + w + '">';
			return image;
    }

    for (let i = 0; i < markerButtons.length; i++) {
        var button = markerButtons[i];
        var latlng = button.value.split(',');
        var lat = parseFloat(latlng[0]);
        var lng = parseFloat(latlng[1]);
       
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(lat, lng),
            icon: defaultIcon,
            animation: google.maps.Animation.DROP
        });
        // Two event listeners - one for mouseover, one for mouseout,
        // to change the colors back and forth.
        marker.addListener('mouseover', function() {
         originalColor = this.getIcon();
         this.setIcon(highlightedIcon);
         this.setAnimation(google.maps.Animation.BOUNCE);
       });

		marker.addListener('click', function() {
			flag = "OK";
		});

		marker.addListener('mouseout', function() {
		if (flag == "OK") {
			this.setIcon(defaultIcon);
		}
		else {
			this.setIcon(originalColor);
		}
		flag = "NOK";
			this.setAnimation(null);
		});

        markers.push(marker);
        marker.setMap(map);
        marker.setVisible(false);

        button.addEventListener('click', function() {

            if (this.className == "ui button ebuildings marker") {
              markers[i].setIcon(ebuildings);
            }
            else if (this.className == "ui button fdbuildings marker") {
              markers[i].setIcon(fdbuildings);
            }
            else if (this.className == "ui button bbuildings marker") {
              markers[i].setIcon(bbuildings);
            }
            else if (this.className == "ui button lm marker") {
              markers[i].setIcon(lm);
            }
            else if (this.className == "ui button fbuildings marker") {
              markers[i].setIcon(fbuildings);
            }
            else if (this.className == "ui button pbuildings marker") {
              markers[i].setIcon(pbuildings);
            }
            else if (this.className == "ui button cy marker") {
              markers[i].setIcon(cy);
            }
            else if (this.className == "ui button abuildings marker") {
              markers[i].setIcon(abuildings);
            }
            else if (this.className == "ui button ssbuildings marker") {
              markers[i].setIcon(ssbuildings);
            }
            else if (this.className == "ui button tbuildings marker") {
              markers[i].setIcon(tbuildings);
            }
            else if (this.className == "ui button sbuildings marker") {
              markers[i].setIcon(sbuildings);
            }
            else if (this.className == "ui button embuildings marker") {
              markers[i].setIcon(embuildings);
            }
            else {
              markers[i].setIcon(defaultIcon);
            }

            if (this.value != "ON") {

                markers[i].setVisible(true);
                this.value="ON";
                //Added here for Info-Window
                var bldid = this.id;
                //for getting abv
                bldid = bldid.split("-");
                var array = maindict[bldid[0]];
                var image = pickImage(bldid[0], 200, 360);
                contentString = '<div id="content">'+
                				'<button class="ui green button" id="' + bldid[0] +
                				'-direction" onclick="document.getElementById(this.id).click()">Direction</button>' +
                				'<h1 id="firstHeading" class="firstHeading">'+ array[0] +'</h1>';
                contentString += fillContent(bldid[0], array[0], array[1], array[2], image);

                var infoBubble = new InfoBubble({
                    content: contentString,
                    autopanMargin: 10,
                    maxWidth: 550,
                    minWidth: 550,
                    minHeight: 400,
                    borderWidth: 2,
                    borderColor: '#000000',
                    padding: 20,
                    shadowStyle: 1,
                    //disableAutoPan: true,
                    closeSrc: 'https://static.wixstatic.com/media/34b396_c3723d3c68e941229e546a46a69311eb~mv2.png/v1/fit/w_750,h_750/34b396_c3723d3c68e941229e546a46a69311eb~mv2.png'
                });
                markers[i].addListener('click', function() {
					infoBubble.open(map, markers[i]);
                });
                // Till here Info-Window
                markers[i].setTitle(array[0]);
                markers[i].setAnimation(google.maps.Animation.DROP);
            }
            else {
                markers[i].setVisible(false);
                this.value="OFF";
            }
        });
    }

    for (let i = 0; i < dirButtons.length; i++) {
        var button = dirButtons[i];
        if (button.className === 'ui positive button') {
            button.addEventListener('click', function() {
                document.getElementById('dest').style["color"] = "white";
                document.getElementById('dest').value = this.id;
            });
        }
    }
    
    var educationBuildingPlygon = new google.maps.Polygon({
      clickable: true,
      paths: EducationBuilding,
      strokeColor: '#000000',
      strokeOpacity: 0,
      strokeWeight: 2,
      fillColor: '#FFA500',
      fillOpacity: 1
    });

    var parkingPolygon = new google.maps.Polygon({
      paths: parkingStructures,
      strokeColor: '#000000',
      strokeOpacity: 0,
      strokeWeight: 2,
      fillColor: '#00B0FF',
      fillOpacity: 1
    });

    var campusPath = new google.maps.Polyline({
     path: campusBorder,
     geodesic: true,
     strokeColor: '#ffff00',
     strokeOpacity: .6,
     strokeWeight: 5
   	});

   	campusPath.setMap(map);

    educationBuildingPlygon.setMap(map);
    parkingPolygon.setMap(map);

    // var addListenersOnPolygon = function(polygon) {
    //   google.maps.event.addListener(polygon, 'click', function (event) {
    //
    //     alert("polygon");
    //   });
    // }
    //
    // addListenersOnPolygon(educationBuildingPlygon);

    function initMap() { // displays map on page, sets up variables for the directions service for use later
        var travellingMode = "WALKING";
        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsService = new google.maps.DirectionsService;
        var mapOptions = {
            zoom: 17,
            center: csufLocation,
            streetViewControl: false,
            mapTypeControl: false,
            gestureHandling: 'greedy',
            styles: mapstyles
            };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);

        directionsDisplay.setMap(map);

        {% block maproute %} {% endblock %}
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/extscripts.js') }}"></script>
{% endblock %}
