{% extends "base.html" %}

{% block bar %}
    <div class="ui blue inverted attached secondary menu" id="topbar">
        <button class="ui icon button" id="left-sidebar-toggle">
          <i class="blue align justify icon"></i>
        </button>

        <a class="item" id="offline-map">
        <i class="teal map icon"></i>Offline Map/Legend</a>
        

        <div class="ui blue floating labeled icon dropdown button">
          <i class="map marker alternative icon"></i>
          <span class="text" id="start">Current Location</span>
          <div class="menu">
            <div class="item" id="CurrentLocation">
              Current Location
            </div>
            <div class="item" data-value="{{ getCoords('PA') }}">
              Parking Lot A
            </div>
            <div class="item" data-value="{{ getCoords('PD') }}">
              Parking Lot D
            </div>
            <div class="item" data-value="{{ getCoords('PG') }}">
              Parking Lot G
            </div>
            <div class="item" data-value="{{ getCoords('PE') }}">
              Parking Lot E
            </div>
            <div class="item" data-value="{{ getCoords('PS') }}">
              Parking Lot S
            </div>
            <div class="item" data-value="{{ getCoords('NPS') }}">
              Nutwood Parking Structure
            </div>
            <div class="item" data-value="{{ getCoords('EPS') }}">
              Eastside Parking Structure
            </div>
            <div class="item" data-value="{{ getCoords('SCPS') }}">
              State College Parking Structure
            </div>
          </div>
        </div>
            
        <div class="ui action input" id="destination">
            <form id="geolocation" action="" method="POST">
                <input type="hidden" id="location" name="location" value="">
                <input type="text" id="src1" name="src1" style="width: 500px" placeholder="Enter Class e.g cs101">
                 <button class="ui blue compact icon button" type="Submit" id="submit">
                    <i class="search icon"></i>
                </button>
        </div>
    </div>
{% endblock %}

{% block map %}
    <!-- <div id="warning"></div> -->
    {% block display %} {% endblock %}
    <div id="map"></div>
{% endblock %}
    
{% block mapscript %}
	<script>
    var latlong;
    var map;
    var GeoMarker;
    var directionsDisplay;
    var directionsService;
    var markers = []
    var markerButtons = document.getElementsByClassName('ui button marker');
    var dirButtons = document.getElementsByClassName('ui button positive');
    const csufLocation = {
            lat: 33.881994,
            lng: -117.885076
    };

    initMap();

    if (navigator.geolocation) { // Call geolocation to get user's current position
        navigator.geolocation.getCurrentPosition(getCurrPos, errorCallback, {
            enableHighAccuracy: true,
        });
    }

    function getCurrPos(position) {
        curLoc = position.coords.latitude + "," + position.coords.longitude;
        document.getElementById('location').value = curLoc;
        $('#CurrentLocation').data('value', curLoc);
    }

    function errorCallback() {}

    for (let i = 0; i < markerButtons.length; i++) {
        var button = markerButtons[i];
        var latlng = button.value.split(',');
        var lat = parseFloat(latlng[0]);
        var lng = parseFloat(latlng[1]);
        var marker = new google.maps.Marker({
                position: new google.maps.LatLng(lat, lng),
        });
        markers.push(marker);
        marker.setMap(map);
        marker.setVisible(false);
        button.addEventListener('click', function() {    
            if (this.value != "ON") {
                markers[i].setVisible(true);
                this.value="ON";
            }
            else {
                markers[i].setVisible(false);
                this.value="OFF";
            }
        })
    }

    for (let i = 0; i < dirButtons.length; i++) {
        var button = dirButtons[i];
        if (button.className === 'ui positive button') {
            button.addEventListener('click', function() {
                document.getElementById('src1').value = this.id;
            });
        }
    }

    function initMap() { // displays map on page, sets up variables for the directions service for use later
        directionsDisplay = new google.maps.DirectionsRenderer;
        directionsService = new google.maps.DirectionsService;
        var mapOptions = {
            zoom: 17,
            center: csufLocation,
            streetViewControl: false,
            mapTypeControl: false,
            gestureHandling: 'greedy',
            styles: [{
                    "featureType": "landscape",
                    "stylers": [{
                            "hue": "#FFA800"
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "lightness": 0
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "stylers": [{
                            "hue": "#53FF00"
                        },
                        {
                            "saturation": 100
                        },
                        {
                            "lightness": 40
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "stylers": [{
                            "hue": "#FBFF00"
                        },
                        {
                            "saturation": 0
                        },
                        {
                            "lightness": 0
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{
                            "hue": "#FFFFFF"
                        },
                        {
                            "saturation": 100
                        },
                        {
                            "lightness": 100
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "stylers": [{
                            "hue": "#00BFFF"
                        },
                        {
                            "saturation": 6
                        },
                        {
                            "lightness": 8
                        },
                        {
                            "gamma": 1
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "stylers": [{
                            "hue": "#679714"
                        },
                        {
                            "saturation": 33.4
                        },
                        {
                            "lightness": -25.4
                        },
                        {
                            "gamma": 1
                        }
                    ]
                }
            ]
        };
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        directionsDisplay.setMap(map);

        {% block maproute %} {% endblock %}
    }
    document.getElementById('src1').value = "";
</script>
{% endblock %}

{% block utilscript %}
<script>
    //$('.login.modal').modal('attach events', '.icon.button', 'show');

    $('.ui.dropdown').dropdown({
        onChange: function (val, text, $selectedItem) {
            document.getElementById('location').value = val;
        }
    });

    $('.ui.dropdown').dropdown('set selected', '{{ cur }}');

    $(document).ready(function(){
         $('#loginbutton').click(function(){
            $('#loginmodal').modal('show');    
         });
         $('#offline-map').click(function(){
            $('#legendmodal').modal('show');
         });
    });

    $('.ui.sidebar').sidebar({
            context: $('#sidemenu'),
            dimPage: false,
            transition: 'overlay',
            exclusive: false,
            closable: false
    });
    $('.ui.sidebar').sidebar('attach events', '#left-sidebar-toggle');

    var locations = ['ebuildings', 'fdbuildings', 'abuildings', 'lm', 'fbuildings', 'pbuildings', 'cy', 'abuildings', 'ssbuildings', 'tbuildings', 'sbuildings', 'embuildings'];

    $('.ui.checkbox.ebuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button ebuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button ebuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.fdbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button fdbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button fdbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });

    $('.ui.checkbox.abuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button abuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button abuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.bbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button bbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button bbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.lm').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button lm');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button lm');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.fbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button fbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button fbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.pbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button pbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button pbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.cy').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button cy');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button cy');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.abuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button abuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button abuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.ssbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button ssbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button ssbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.tbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button tbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button tbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.sbuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button sbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button sbuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
    $('.ui.checkbox.embuildings').checkbox({
        onChecked: function () {
                var mulButtons = document.getElementsByClassName('button embuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="OFF";
                    mulButtons[j].click();
                }                          
        },
        onUnchecked: function () {
                var mulButtons = document.getElementsByClassName('button embuildings');
                for(let j = 0; j < mulButtons.length; j++){
                    mulButtons[j].value="ON";
                    mulButtons[j].click();
                }                    
        }
    });
</script>
{% endblock %}
