{% extends "campusmap.html" %}

{% block display %}
      <h2> Destination: {{ src }} </h2>
      {% for i in directions %}
      <p> {{ i|safe }} </p>
      <hr>
      {% endfor %}
{% endblock %}

{% block maproute %}
      GeoMarker = new GeolocationMarker();
      GeoMarker.setCircleOptions({visible: false});
      google.maps.event.addListenerOnce(GeoMarker, 'position_changed', function() {
        //map.setCenter(this.getPosition());
        //map.fitBounds(this.getBounds());
      });
      GeoMarker.setMap(map)
      var start = latlong
      //var end =  "{{ src }}, Fullerton";
      if("{{ src }}" === 'Pollak Library'){
        var newEnd = '33.881530, -117.885766';
      } else if("{{ src }}" === 'Computer Science Building'){
        var newEnd = '33.882148, -117.882660';
      } else if("{{ src }}" === 'Mihaylo'){
        var newEnd = '33.878866, -117.883385';
      } else if("{{ src }}" === 'McCarthy Hall'){
        var newEnd = '33.879864, -117.885550';
      } else if("{{ src }}" === 'Engineering Building'){
        var newEnd = '33.882177, -117.883186';
      } else if("{{ src }}" === 'Humanities-Social Sciences'){
        var newEnd = '33.880497, -117.884462';
      } else if("{{ src }}" === 'Kinesiology &amp; Health Science'){
        var newEnd = '33.882628, -117.885890';
      }//text directions wrong unless i add fullerton. cs and khs break if fullerton is added in views.py... next step is to add waypoints
      directionsService.route({
        origin: start,
        destination: end,
        travelMode: 'WALKING'
      }, function(response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
{% endblock %}

{% block time %}
    document.getElementById('txt').innerHTML=h+":"+m+":"+s;
    var travelTime = parseInt("{{tl}}");
    var timeLeft = 30 - m;
    var arrival = timeLeft - travelTime
    if(arrival < 10){
      document.getElementById('warning').style.visibility="visible";
      if(arrival < 0){
        document.getElementById('warning').style.background="red";
        document.getElementById('warning').innerHTML="RUN! " + "You'll be there: " + arrival * -1 + " mins late!";
      }
      else{
        document.getElementById('warning').style.background="orange";
        document.getElementById('warning').innerHTML="You'll be there: " + arrival + " mins early";
      }
    }
{% endblock %}
