{% extends "campusmap.html" %}
{% block display %}
      {% for i in directions %}
      <p> {{ loop.index }}. {{ i|safe }} </p>
      <hr>
      {% endfor %}
{% endblock %}

{% block call %} calculateAndDisplayRoute(latlong, directionsService, directionsDisplay) {% endblock %}

{% block script %}
      function calculateAndDisplayRoute(latlong, directionsService, directionsDisplay) {
        var start = latlong
        var end =  "{{ src }}";
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'WALKING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
{% endblock %}